<h1>
  Square Root Results
</h1>

<dl>
  <dt>
    Number
  </dt>
  <dd>
    <%= @sqrt_input %>
  </dd>

  <dt>
    Square Root
  </dt>
  <dd>
    <%= @result %>
  </dd>
</dl>

<a href="/square_root/new">
  Calculate another square root
</a>
